{
  "swagger" : "2.0",
  "info" : {
    "version" : "0.6.0",
    "title" : "OTPIXEL"
  },
  "host" : "otpixel.satrdlab.upv.es:8080",
  "basePath" : "/otpixel/api",
  "tags" : [ {
    "name" : "Instance Resource"
  }, {
    "name" : "KPI Resource"
  }, {
    "name" : "Model Resource"
  }, {
    "name" : "Scheduled Instance Resource"
  } ],
  "schemes" : [ "http" ],
  "paths" : {
    "/instances/create" : {
      "put" : {
        "tags" : [ "Instance Resource" ],
        "summary" : "Create an instance",
        "description" : "If id is not provided, it will be randomly generated",
        "operationId" : "createInstance",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Instance description",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Instance"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Instance"
            }
          },
          "400" : {
            "description" : "Instance already exists"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/instances/delete/{id}" : {
      "delete" : {
        "tags" : [ "Instance Resource" ],
        "summary" : "Delete an instance",
        "description" : "",
        "operationId" : "deleteInstance",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of instance",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Instance not found"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/instances/get/{id}" : {
      "get" : {
        "tags" : [ "Instance Resource" ],
        "summary" : "Get an instance by id",
        "description" : "",
        "operationId" : "getInstance",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "instance",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Instance"
            }
          },
          "400" : {
            "description" : "Instance not found"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/instances/list" : {
      "get" : {
        "tags" : [ "Instance Resource" ],
        "summary" : "List all instances",
        "description" : "",
        "operationId" : "listInstances",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "idRef",
          "in" : "query",
          "description" : "idRef",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "user",
          "in" : "query",
          "description" : "user",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "status",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Instance"
              }
            }
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/instances/update" : {
      "post" : {
        "tags" : [ "Instance Resource" ],
        "summary" : "Update an instance",
        "description" : "",
        "operationId" : "updateInstance",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Instance description",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Instance"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Instance"
            }
          },
          "400" : {
            "description" : "Instance not found"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/kpis/create" : {
      "put" : {
        "tags" : [ "KPI Resource" ],
        "summary" : "Create a KPI",
        "description" : "If id is not provided, it will be randomly generated",
        "operationId" : "createKPI",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "KPI description",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/KPI"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/KPI"
            }
          },
          "400" : {
            "description" : "KPI already exists"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/kpis/delete/{id}" : {
      "delete" : {
        "tags" : [ "KPI Resource" ],
        "summary" : "Delete a kpi",
        "description" : "",
        "operationId" : "deleteKPI",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of KPI",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "KPI not found"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/kpis/get/{id}" : {
      "get" : {
        "tags" : [ "KPI Resource" ],
        "summary" : "Get a KPI by id",
        "description" : "",
        "operationId" : "getKPIByID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "kpi",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/KPI"
            }
          },
          "400" : {
            "description" : "KPI not found"
          },
          "500" : {
            "description" : "KPI error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/kpis/get/{id}/lastKPI" : {
      "get" : {
        "tags" : [ "KPI Resource" ],
        "summary" : "Get the last value of a KPI by id",
        "description" : "",
        "operationId" : "getLastKPIByID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "kpi",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/JsonNode"
            }
          },
          "400" : {
            "description" : "KPI not found"
          },
          "500" : {
            "description" : "KPI error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/kpis/get/{id}/stats" : {
      "get" : {
        "tags" : [ "KPI Resource" ],
        "summary" : "Get stats a KPI",
        "description" : "",
        "operationId" : "getKPIStatsByID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "kpi",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "from",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "to",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/JsonNode"
            }
          },
          "400" : {
            "description" : "KPI not found"
          },
          "500" : {
            "description" : "KPI error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/kpis/list" : {
      "get" : {
        "tags" : [ "KPI Resource" ],
        "summary" : "List all models",
        "description" : "",
        "operationId" : "listKPIs",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "category",
          "in" : "query",
          "description" : "category",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/KPI"
              }
            }
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/kpis/update" : {
      "post" : {
        "tags" : [ "KPI Resource" ],
        "summary" : "Update a kpi",
        "description" : "",
        "operationId" : "updateKPI",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "KPI description",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/KPI"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/KPI"
            }
          },
          "400" : {
            "description" : "KPI not found"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/models/create" : {
      "put" : {
        "tags" : [ "Model Resource" ],
        "summary" : "Create a model",
        "description" : "If id is not provided, it will be randomly generated",
        "operationId" : "createModel",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Model description",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Model"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Model"
            }
          },
          "400" : {
            "description" : "Model already exists"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/models/delete/{id}" : {
      "delete" : {
        "tags" : [ "Model Resource" ],
        "summary" : "Delete a model",
        "description" : "",
        "operationId" : "deleteModel",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of model",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Model not found"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/models/get/{id}" : {
      "get" : {
        "tags" : [ "Model Resource" ],
        "summary" : "Get a model by id",
        "description" : "",
        "operationId" : "getModel",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "model",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Model"
            }
          },
          "400" : {
            "description" : "Model not found"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/models/get/{id}/info" : {
      "get" : {
        "tags" : [ "Model Resource" ],
        "summary" : "Get information of a model by id",
        "description" : "",
        "operationId" : "getModelInfo",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "model",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GeneralInfo"
            }
          },
          "400" : {
            "description" : "Model not found"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/models/list" : {
      "get" : {
        "tags" : [ "Model Resource" ],
        "summary" : "List all models",
        "description" : "",
        "operationId" : "listModels",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "otStatus",
          "in" : "query",
          "description" : "otStatus",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "type",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Model"
              }
            }
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/models/update" : {
      "post" : {
        "tags" : [ "Model Resource" ],
        "summary" : "Update a model",
        "description" : "",
        "operationId" : "updateModel",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Model description",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Model"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Model"
            }
          },
          "400" : {
            "description" : "Model not found"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/scheduledInstances/create" : {
      "put" : {
        "tags" : [ "Scheduled Instance Resource" ],
        "summary" : "Create a scheduled instance",
        "description" : "If id is not provided, it will be randomly generated",
        "operationId" : "createScheduledInstance",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Scheduled instance description",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ScheduledInstance"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Instance"
            }
          },
          "400" : {
            "description" : "Scheduled instance already exists"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/scheduledInstances/delete/{id}" : {
      "delete" : {
        "tags" : [ "Scheduled Instance Resource" ],
        "summary" : "Delete a scheduled instance",
        "description" : "",
        "operationId" : "deleteScheduledInstance",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of scheduled instance",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Scheduled instance not found"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/scheduledInstances/get/{id}" : {
      "get" : {
        "tags" : [ "Scheduled Instance Resource" ],
        "summary" : "Get a scheduled instance by id",
        "description" : "",
        "operationId" : "getScheduledInstance",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "scheduled instance",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ScheduledInstance"
            }
          },
          "400" : {
            "description" : "Scheduled instance not found"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/scheduledInstances/list" : {
      "get" : {
        "tags" : [ "Scheduled Instance Resource" ],
        "summary" : "List all scheduled instances",
        "description" : "",
        "operationId" : "listScheduledInstances",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "idRef",
          "in" : "query",
          "description" : "idRef",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "user",
          "in" : "query",
          "description" : "user",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "status",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ScheduledInstance"
              }
            }
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/scheduledInstances/update" : {
      "post" : {
        "tags" : [ "Scheduled Instance Resource" ],
        "summary" : "Update a scheduled instance",
        "description" : "",
        "operationId" : "updateScheduledInstance",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Scheduled instance description",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ScheduledInstance"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ScheduledInstance"
            }
          },
          "400" : {
            "description" : "Scheduled instance not found"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    },
    "/scheduledInstances/updateStatus/{id}" : {
      "post" : {
        "tags" : [ "Scheduled Instance Resource" ],
        "summary" : "Update only the status of a scheduled instance",
        "description" : "",
        "operationId" : "updateStatusScheduledInstance",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of scheduled instance",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "path",
          "description" : "status",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ScheduledInstance"
            }
          },
          "400" : {
            "description" : "Scheduled instance not found"
          },
          "500" : {
            "description" : "Internal error"
          }
        },
        "security" : [ {
          "apikey" : [ ]
        } ]
      }
    }
  },
  "securityDefinitions" : {
    "apikey" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "ConnectorItem" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "options" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ConnectorOptionItem"
          }
        }
      }
    },
    "ConnectorOptionItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "required" : {
          "type" : "boolean"
        }
      }
    },
    "DockerInfo" : {
      "type" : "object",
      "properties" : {
        "dockerName" : {
          "type" : "string"
        },
        "label" : {
          "type" : "string"
        }
      }
    },
    "GeneralInfo" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "version" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "supportSubscription" : {
          "type" : "boolean"
        },
        "supportExecSync" : {
          "type" : "boolean"
        },
        "supportExecAsync" : {
          "type" : "boolean"
        },
        "type" : {
          "type" : "string"
        },
        "category" : {
          "type" : "string"
        },
        "system" : {
          "$ref" : "#/definitions/SystemInfo"
        },
        "input" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InputItem"
          }
        },
        "output" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OutputItem"
          }
        },
        "logging" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LoggingItem"
          }
        }
      }
    },
    "InputItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "supportedConnectors" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "description" : {
          "type" : "string"
        },
        "metadata" : {
          "type" : "object"
        },
        "options" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InputOptionItem"
          }
        }
      }
    },
    "InputOptionItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        }
      }
    },
    "Instance" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idRef" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "mode" : {
          "type" : "string"
        },
        "user" : {
          "type" : "string"
        },
        "input" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InstanceInputItem"
          }
        },
        "forceinput" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InstanceForceInputItem"
          }
        },
        "output" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InstanceOutputItem"
          }
        },
        "logging" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InstanceLoggingItem"
          }
        },
        "creation" : {
          "type" : "integer",
          "format" : "int64"
        },
        "start" : {
          "type" : "integer",
          "format" : "int64"
        },
        "otStatus" : {
          "type" : "string"
        },
        "dockerId" : {
          "type" : "string"
        }
      }
    },
    "InstanceForceInputItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "metadata" : {
          "type" : "object"
        },
        "value" : {
          "type" : "object"
        }
      }
    },
    "InstanceInputItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "category" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "metadata" : {
          "type" : "object"
        },
        "options" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InstanceInputOptionItem"
          }
        }
      }
    },
    "InstanceInputOptionItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "value" : {
          "type" : "object"
        }
      }
    },
    "InstanceLoggingItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "category" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "metadata" : {
          "type" : "object"
        },
        "options" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InstanceLoggingOptionItem"
          }
        }
      }
    },
    "InstanceLoggingOptionItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "value" : {
          "type" : "object"
        }
      }
    },
    "InstanceOutputItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "category" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "metadata" : {
          "type" : "object"
        },
        "options" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InstanceOutputOptionItem"
          }
        }
      }
    },
    "InstanceOutputOptionItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "value" : {
          "type" : "object"
        }
      }
    },
    "JsonNode" : {
      "type" : "object",
      "properties" : {
        "array" : {
          "type" : "boolean"
        },
        "null" : {
          "type" : "boolean"
        },
        "float" : {
          "type" : "boolean"
        },
        "nodeType" : {
          "type" : "string",
          "enum" : [ "ARRAY", "BINARY", "BOOLEAN", "MISSING", "NULL", "NUMBER", "OBJECT", "POJO", "STRING" ]
        },
        "containerNode" : {
          "type" : "boolean"
        },
        "valueNode" : {
          "type" : "boolean"
        },
        "object" : {
          "type" : "boolean"
        },
        "missingNode" : {
          "type" : "boolean"
        },
        "integralNumber" : {
          "type" : "boolean"
        },
        "pojo" : {
          "type" : "boolean"
        },
        "short" : {
          "type" : "boolean"
        },
        "long" : {
          "type" : "boolean"
        },
        "double" : {
          "type" : "boolean"
        },
        "bigDecimal" : {
          "type" : "boolean"
        },
        "bigInteger" : {
          "type" : "boolean"
        },
        "boolean" : {
          "type" : "boolean"
        },
        "binary" : {
          "type" : "boolean"
        },
        "textual" : {
          "type" : "boolean"
        },
        "number" : {
          "type" : "boolean"
        },
        "int" : {
          "type" : "boolean"
        },
        "floatingPointNumber" : {
          "type" : "boolean"
        }
      }
    },
    "KPI" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "indexRef" : {
          "type" : "string"
        },
        "idRef" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "category" : {
          "type" : "string"
        },
        "creation" : {
          "type" : "integer",
          "format" : "int64"
        },
        "kpiThresholds" : {
          "$ref" : "#/definitions/KpiThresholds"
        },
        "otStatus" : {
          "type" : "string"
        }
      }
    },
    "KpiThresholds" : {
      "type" : "object",
      "properties" : {
        "lowerThres" : {
          "type" : "number",
          "format" : "double"
        },
        "upperThres" : {
          "type" : "number",
          "format" : "double"
        }
      }
    },
    "LoggingItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "supportedConnectors" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "description" : {
          "type" : "string"
        },
        "metadata" : {
          "type" : "object"
        },
        "options" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LoggingOptionItem"
          }
        }
      }
    },
    "LoggingOptionItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        }
      }
    },
    "Model" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "generalInfo" : {
          "$ref" : "#/definitions/GeneralInfo"
        },
        "dockerInfo" : {
          "$ref" : "#/definitions/DockerInfo"
        },
        "creation" : {
          "type" : "integer",
          "format" : "int64"
        },
        "otStatus" : {
          "type" : "string"
        }
      }
    },
    "OutputItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "supportedConnectors" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "description" : {
          "type" : "string"
        },
        "metadata" : {
          "type" : "object"
        },
        "options" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OutputOptionItem"
          }
        }
      }
    },
    "OutputOptionItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        }
      }
    },
    "ScheduleInfo" : {
      "type" : "object",
      "properties" : {
        "unit" : {
          "type" : "string"
        },
        "value" : {
          "type" : "integer",
          "format" : "int32"
        },
        "start" : {
          "type" : "integer",
          "format" : "int64"
        }
      }
    },
    "ScheduledInstance" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "idRef" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "mode" : {
          "type" : "string"
        },
        "user" : {
          "type" : "string"
        },
        "input" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InstanceInputItem"
          }
        },
        "forceinput" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InstanceForceInputItem"
          }
        },
        "output" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InstanceOutputItem"
          }
        },
        "logging" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/InstanceLoggingItem"
          }
        },
        "creation" : {
          "type" : "integer",
          "format" : "int64"
        },
        "start" : {
          "type" : "integer",
          "format" : "int64"
        },
        "otStatus" : {
          "type" : "string"
        },
        "dockerId" : {
          "type" : "string"
        },
        "active" : {
          "type" : "boolean"
        },
        "scheduleInfo" : {
          "$ref" : "#/definitions/ScheduleInfo"
        },
        "lastEnd" : {
          "type" : "integer",
          "format" : "int64"
        }
      }
    },
    "SupportedTransformationItem" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "convertFrom" : {
          "type" : "string"
        },
        "convertTo" : {
          "type" : "string"
        }
      }
    },
    "SystemInfo" : {
      "type" : "object",
      "properties" : {
        "connectors" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ConnectorItem"
          }
        },
        "transform" : {
          "$ref" : "#/definitions/Transform"
        }
      }
    },
    "Transform" : {
      "type" : "object",
      "properties" : {
        "supportedTransformations" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/SupportedTransformationItem"
          }
        }
      }
    }
  }
}